# 二进制文件
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
dev-template

# 测试
*.test
*.out
coverage.out
coverage.html

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 演示项目
demo-*/

# OS
.DS_Store
Thumbs.db

# 日志
*.log
